.MuiFormControlLabel-root.my-checkbox {
    margin-right: 0 !important;
    align-items: flex-start !important;
    .MuiIconButton-root.MuiCheckbox-root {
      margin-top: -10px !important;
    }
  }