// Custom variables
@import "variables";
@import "forms";
@import "custom";



@font-face {
    font-family: "Averta";
    font-style: normal;
    font-weight: bold;
    font-display: auto;
    src: url("/assets/fonts/AVERTA-BOLD.ttf") format("truetype"), url("/assets/fonts/AVERTA-BOLD.woff") format("woff"), url("/assets/fonts/AVERTA-BOLD.OTF") format("opentype"); 
}

@font-face {
    font-family: "Averta";
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url("/assets/fonts/AVERTA-REGULAR.ttf") format("truetype"), url("/assets/fonts/AVERTA-REGULAR.woff") format("woff"), url("/assets/fonts/AVERTA-REGULAR.OTF") format("opentype"); 
}
  
  
   
body {
    color: $body-color;
    background-color: #fff;
    font-family: "Averta";
    scrollbar-face-color:$gray-dark;
    scrollbar-arrow-color: #fff;
    scrollbar-shadow-color: #fff;
    margin: 0;
}
html, body {
    height: 100%;
    font-size: 16px;
    font-weight: normal;
    scroll-behavior: smooth;
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 12px;
    -webkit-appearance: none;
   
    
  }
  
/* Track */
::-webkit-scrollbar-track {
    border: 1px solid #E9ECF2;
    border-radius: 5px;
    background-color: #F4F5F8;
    
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #B7C3DC;
    width: 6px !important;
    border: 3px solid #F4F5F8;
}

.break-all {
    word-break: break-all;
}

.break-word {
    word-break: break-word;
}

@keyframes bounce-alpha-up {
	0% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
	25%{
		opacity: 0;
		transform: translateY(-10px) scale(.9);
	}
	26%{
		opacity: 0;
		transform: translateY(10px) scale(.9);
	}
	55% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

.bounce-alpha-up {
	animation-name: bounce-alpha-up;
	animation-duration: 1.4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes bounce-alpha-right {
	0% {
		opacity: 1;
		transform: translateX(0) scale(1);
	}
	25% {
		opacity: 0;
		transform: translateX(10px) scale(.9);
	}
	26% {
		opacity: 0;
		transform: translateX(-10px) scale(.9);
	}
	55% {
		opacity: 1;
		transform: translateX(0) scale(1);
	}
}

.bounce-alpha-right {
	animation-name: bounce-alpha-right;
	animation-duration: 1.4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes bounce-alpha-circle {
	from { transform: rotate(0deg) translateX(2px) rotate(0deg); }
	to   { transform: rotate(360deg) translateX(2px) rotate(-360deg); }
}

.bounce-alpha-circle {
	animation-name: bounce-alpha-circle;
	animation-duration: 1.4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.box-shadow-wrapper {
    border: 1px solid $border-input;
    background-color: #FFFFFF;
}

input::-ms-reveal,
input::-ms-clear {
display: none;
}



.thread {
    ul {
        display: inline-flex;
        align-items: center;
        li {
            display: inline-block;
            padding-right: 5px;
            a {
                font-size: 17px;
                color: $blue !important;
                cursor: pointer;
                &.not-link {
                    color: $body-color !important;
                    cursor: default;
                }
            }
            img.thread-arrow-list {
                margin-left: 8px;
            }
            
            &:last-child {
                padding-right: 0;
                a {
                    color: $body-color !important;
                    font-weight: bold;
                }
            }
           
        }
    }
}

.bold {
    font-weight: bold;
}
div#root {
    width: 100%;
    height: 100%;
    .wrapper-app {
        width: 100%;
        height: 100%;
        .main-page {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            .page-content {
                overflow: auto;
                flex: 1 1 100%;
            }
            header.header-app {
                flex: 1 1 auto;
            }
            footer.footer-app {
                flex: 1 1 auto;
            }
        }
    }
    
}

.container-app {
    width: 1320px;
}
@media only screen and (max-width: 768px) {

    .container-app {
        max-width: 768px;
        padding: 0 10px;
        width: 100%;
        box-sizing: border-box;
    }
}
button.my-btn {
    height: 36px;
    box-sizing: border-box;
    text-transform: none;
}
button.my-btn.large-size {
    height: 46px;
    box-sizing: border-box;
    text-transform: none;
}
button.my-btn.btn-green.btn-contained {
    background-color: $green;
    color: #fff;
    border: none;
    box-shadow: none;
}
button.my-btn.btn-blue.btn-contained {
    background-color: $blue-dark;
    color: #fff;
    border: none;
    box-shadow: none;
    img {
        width: 65%;
        height: 65%;
    }
}
button.my-btn.btn-blue.btn-outlined {
    background-color: #fff;
    color: $blue-dark;
    border: 1px solid $blue-dark;
    box-shadow: none;
}
button.my-btn.btn-green.btn-outlined {
    background-color: #fff;
    color: $blue-dark;
    border: 1px solid $green;
    box-shadow: none;
}

button.my-btn.btn-yellow.btn-contained {
    background-color: $yellow;
    color: #fff;
    border: none;
    box-shadow: none;
    img {
        width: 65%;
        height: 65%;
    }
}

button.my-btn.btn-red.btn-contained {
    background-color: $red;
    color: #fff;
    border: none;
    box-shadow: none;
    img {
        width: 65%;
        height: 65%;
    }
}

button.my-btn.btn-blue-dash.btn-contained {
    background-color: $blue;
    color: #fff;
    border: none;
    box-shadow: none;
    img {
        width: 65%;
        height: 65%;
    }
}