@import '../../assets/scss/variables.scss';

.loading-data {
  background-color: #fff;
  padding: 10px 0px;
  width: 100%;
  box-sizing: border-box;
  .react-loading-skeleton {
    margin-bottom: 10px;
    width: 70%;
    &:first-child {
      width: 50%;
    }
  }
}