@import '../../assets/scss/variables.scss';

.wrapper-banner {
    .carousel .control-dots .dot {
        box-shadow: none;
        background-color: transparent;
        border: 1px solid $blue-dark;
        opacity: 1 !important;
        width: 10px;
        height: 10px;
        &.selected {
            background-color: $blue-dark;
        }
    }
}